<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="AWSSNSTopicArn" value="arn:aws:sns:us-east-1:157482313302:capacity-topic"/>
		<add key="AWSProfileName" value="production"/>
		<add key="AWSProfilesLocation" value=".credentials"/>
		<add key="SeedFirstNames" value="first_names"/>
		<add key="SeedLastNames" value="last_names"/>
		<add key="SeedAddresses" value="addresses"/>
	</appSettings>
</configuration>